body {
  margin: 0;
  padding: 0;
}

h3 {
  display: flex;
  justify-content: space-around;
}


.top-container {
  display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  // position: absolute;
  .card {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 100vh;
    .middle {
      // justify-content: space-evenly;
      // align-items: center;
    }
  }
}

.icons {
  // position: relative;
  // left: 1400px;
  font-size: 60px;
  a:hover {
    text-decoration: none;

  }
}

.intro {
  margin: 40px 40px;
  h1 {
    margin: 2px 0px;
  }
}

.avatar {
  width: 160px;
  height: auto;
}

.content-container {
  margin: 0 auto;

  // display: grid;
  // grid-template-columns: 1fr 1fr;
  .card {
    // box-shadow: 10px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    .project-image {
      width: 60%;
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }
  .project-content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .project-description {
    margin: 16px;
    padding: 30px;
    display: flex;
    width: 30%;
    // align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}

.odd {
  background: black;
  color: white;
}

