body {
  margin: 0;
  padding: 0;
}

h3 {
  display: flex;
  justify-content: space-around;
}

.top-container {
  display: flex;

  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;

    .intro {
      // margin-left: 5%;
      h1 {
        margin: 2px;
      }
    }

    .middle {
      // text-align: center;

      h1 {
        margin: 8% 0%;
      }
    }
    .icons {
      font-size: 50px;
      // margin-right: 5%;
      a {
        color: white;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}

// .icons {
//   font-size: 60px;
//   margin-right: 5%;
//   a {
//     color: white;
//   }
//   a:hover {
//     text-decoration: none;
//   }
// }

// .intro {
//   margin-left: 5%;
//   h1 {
//     margin: 2px;
//   }
// }

.avatar {
  width: 240px;
  min-width: 60px;
  height: auto;
}

.content-container {
  margin: 0 auto;

  .card {
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;

    .project-image {
      width: 65%;
      img {
        max-width: 100%;
        width: auto;
        height: auto;
        // min-width: 440px;
      }
    }
  }
  .project-content {
    display: flex;
    // flex-direction: row;
    width: 100%;
    padding: 16px;
  }
  .project-description {
    padding: 30px;
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: space-around;
    overflow-wrap: break-word;
    // min-width: 440px;
  }
}

.black {
  background-color: rgb(25, 25, 25);
  color: white;
}

