body {
  margin: 0;
  padding: 0;
}

h3 {
  display: flex;
  justify-content: space-around;
}

.row {
  margin-left: 0;
}

.black {
  background-color: rgb(25, 25, 25);
  color: white;
}

.avatar {
  width: 240px;
  min-width: 60px;
  height: auto;
}

.top-container {
  display: flex;
  margin: 0;
  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    padding: 30px 15px;
    margin: 0;
    .intro {
      h1 {
        margin: 2px;
      }
    }
    .middle {
      h1 {
        margin: 8% 0%;
      }
    }
    .icons {
      font-size: 50px;
      i {
        color: white;
      }
      i:hover {
        transition: 2s;
        color: green;
        text-decoration: none;
      }
    }
  }
}

.project-container {
  margin: 0 auto;
  .card {
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    // height: 100vh;
    min-height: 100vh;
    padding: 30px 0;
    .project-content {
      display: flex;
      width: 100%;
      padding: 16px;
      .project-description {
        padding: 30px;
        display: flex;
        width: 35%;
        flex-direction: column;
        justify-content: center;
        overflow-wrap: break-word;
        .project-header {
          a {
            text-decoration: none;
            // color: black;
          }
          a:hover {
            color: blue;
          }
        }
        .project-text {
        }
      }
      .project-image {
        width: 65%;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
          filter: brightness(0.95);
        }
      }
      .project-video {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        height: 0;
        filter: brightness(0.9);
        .video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 0;
          // padding: 11.7rem 1.2rem;
        }
      }
    }
  }
}

.carousel-caption {
  // color: green;
  text-shadow: 2px 2px black;
  letter-spacing: 1px;
}
