<h1>Hello, I'm Kingsley</h1>

<div class="icons">
  <i class="fab fa-github"></i><i class="fab fa-linkedin"></i><i class="far fa-envelope"></i>
</div>

<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(<%#= image_path 'banner.jpeg', height: 300, width: 1200, crop: :fill %>);">
</div> -->


<div class="content-container">

  <div class="card project-1">
    <div class="project-content">
      <div class="project-description">
        <h3>CompanyMD (built in 9 days)</h3>
        <p>Role: Project Manager</p>
        <p>Utilizing the Scrum framework, I set realistic goals for my team to complete within the short timeframe and prioritized these based on the perceived value it would bring to the project against its estimated completion time.</p>
        <p>Project Description:</p>
        <p>CompanyMD is a platform that aggregates financial data and relevant news from a variety of trustworthy sources on the internet that lets users deep dive into specific companies as well as compare company financial data side-by-side.</p>
      </div>
      <div class="project-image">
        <%= link_to (image_tag 'CompanyMD.png'), "https://www.companymd.world/", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="card project-1">
    <div class="project-content">
      <div class="project-description">
        <h3>FindMySensei (built in 5 days)</h3>
        <p>Role: Project Manager</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tortor dolor, dapibus non placerat sit amet, dictum eget orci. Nam mollis sed ligula sit amet accumsan. Pellentesque volutpat in velit quis accumsan. Ut nisl ante, porttitor malesuada neque vel, egestas tristique purus. Sed blandit quam ut magna tincidunt, luctus tincidunt dolor molestie. Aliquam id gravida felis, non consequat nisi. Suspendisse non lacus at nunc ultricies ultricies.</p>
      </div>
      <div class="project-image">
        <%= link_to (image_tag 'FindMySensei.png'), "http://stmatch.herokuapp.com", target: "_blank" %>
      </div>
    </div>
  </div>

</div>
<!--
<div class="section">
  <div class="card">
  </div>
  <div class="card">
  </div>
</div> -->

